.header-bar-menu{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

.header-bar-item{
    padding: 0 10px;
}

.header-bar-item a{
    display: inline-block;
    color: #333;
    text-decoration: none;
}

.header-bar-item a:hover{
    color: tomato;
}